{% extends 'default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>

   <h3>{% current_time '%b %d %Y' %}</h3>
   <h3> {{ breaking_news|default_if_none:"Пока нет строчных новостей!" }} </h3>

   <hr/>

   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

   <hr/>

   {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Новость</td>
           </tr>

           {% for n in news %}
           <tr>
               <td>{{ n.article_subject|censor }}</td>
               <td>{{ n.creation_date }}</td>
               <td>{{ n.article_text|censor|truncatechars:20 }}</td>
           </tr>
           {% endfor %}

       </table>

       {# Информация о предыдущих страницах #}
       {% if page_obj.has_previous %}
           <a href="?page=1">1</a>
           {% if page_obj.previous_page_number != 1 %}
               ...
               <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
           {% endif %}
       {% endif %}

       {# Информация о текущей странице #}
       {{ page_obj.number }}

       {# Информация о следующих страницах #}
       {% if page_obj.has_next %}
           <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
           {% if paginator.num_pages != page_obj.next_page_number %}
               ...
               <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
           {% endif %}
       {% endif %}
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

{% endblock content %}

